body{
    background-image: url("../Imagenes/Fondo_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: max-content;
}
*{
    /*
  *NETEJA
  */
    margin: 0px;
    margin-left: 10px;
    padding:0px;
    text-decoration: none;
}
label{
    
    color:rgb(255, 204, 0);
    font-size:x-large;
    font-style:italic;
}

/*
  !Id o Clases
*/
#cuadre_de_registre{
    --border-color:linear-gradient( 
        to right,
        rgba(0, 0, 0, 0.850) 0%,
        rgba(0, 144, 10, 0.301) 100%
    );
    --color-fons:rgb(0, 0, 0);
    background:var(--border-color);
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 30px;
    margin: 10%;
}
#interior{
    background: var(---);
    
}
#cuadre_de_registre label{
    margin-top: 10px;
    
}
#lbl_user,#lbl_password{
    display:flex;
    align-items: center;
    justify-content: center;
}
#cuadre_de_registre .buto{
    margin:15px;
    
}
.buto{
    position: relative;
    width: 70px;
    height: 30px;
    font-size: 10px;
    background-color: #202231;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor:pointer;
    transition: width .5px,
    border-radius .5px;
}

.buto *{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity;
}
#telefono{
    margin-bottom: 10px;
}